
body {
	background: #FFEE58;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 1.2em;
}

/*
img:hover {
	-webkit-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}
*/

h2 {
	text-align: center;
}

a {
	color: black;
}

button {
	width: 10px;
	height: 10px;
}

.row {
	margin-top: 30px;
	margin-bottom: 30px;

}

.col-md-3 {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #FAFAFA;
	border: 8px solid #2196F3;
	border-radius: 60px;
	overflow: auto;
}

.footer {
	text-align: center;
	font-weight: bold;
	background: #1565C0;
	color: white;
}

.thumbnail {
	float: left;
	width: 150px;
	height: 150px;
	border: 5px solid #2196F3;
	border-radius: 60px;
	overflow: hidden;
	text-align: center;
}

p {
	color: black;
	text-align: center;
	font-size: 1em;
}

img {
	width: 150px;
	height: 150px;
}