
body {
	background: #FFEE58;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 1.2em;
}

<<<<<<< HEAD
/*img:hover {
=======
/*
img:hover {
>>>>>>> 529e33747e740897296214f0f28694c7e0e809cf
	-webkit-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}*/

.plus{
	width: 30px;
	height: 30px;
}

div article {
	position: relative;
	float: right;
	display: none;
	text-align: center;
	color: black;
	font-size: 1em;
}
*/

h2 {
	text-align: center;
}

a {
	color: black;
}

<<<<<<< HEAD
button {
	width: 10px;
	height: 10px;
=======
img {
	width: 100px;
	height: 100px;
	
}

#forum {
	
>>>>>>> e49421cb13b4a04041fe44f3ec129b14e9bda5eb
}

.row {
<<<<<<< HEAD
	margin-top: 40px;
	margin-bottom: 40px;
=======
	margin-top: 30px;
	margin-bottom: 30px;
>>>>>>> 529e33747e740897296214f0f28694c7e0e809cf

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.col-md-3 {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #FAFAFA;
	border: 8px solid #2196F3;
	border-radius: 52px;
	overflow: auto;
}

.footer {
	text-align: center;
	font-weight: bold;
	background: #1565C0;
	color: white;
}

.thumbnail {
	float: left;
	width: 100px;
	height: 100px;
	border: 3px solid #2196F3;
	border-radius: 60px;
	overflow: hidden;
}

<<<<<<< HEAD
=======
p {
	color: black;
	text-align: center;
	font-size: 1em;
<<<<<<< HEAD
}

img {
	width: 150px;
	height: 150px;
=======
	position: relative;

>>>>>>> e49421cb13b4a04041fe44f3ec129b14e9bda5eb
}
>>>>>>> 529e33747e740897296214f0f28694c7e0e809cf
